Flask
Jinja2
joblib
json5
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab
jupyterlab-server
kiwisolver
matplotlib
nltk
numpy
pandas
plotly
regex
requests
scikit-learn
scipy
SQLAlchemy
torch
tqdm
urllib3
webencodings
Werkzeug
xgboost
zipp
gunicorn
